<div class="page-header">
  <h1>All stores</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Store</th>
      <th>Url</th>
      <th>Shipping min</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.url %></td>
        <td><%= store.shipping_min %></td>
        <td><%= link_to 'View/Edit', edit_store_path(store), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Delete', store, method: :delete, data: { confirm: 'Are you sure? All associated wishlists will also be deleted.' }, :class => 'btn btn-mini' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store', new_store_path, :class => 'btn btn-primary' %>
