<%= form_for(@wishlist) do |f| %>
  <% if @wishlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wishlist.errors.count, "error") %> prohibited this wishlist from being saved:</h2>

      <ul>
      <% @wishlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :want_by %><br>
    <%= f.date_select :want_by %>
  </div>
  <% if action_name == 'new' %>
    <div class="field">
    <%= f.label :store %><br>
    <%= f.collection_select :store, Store.all, :id, :name %>
    <td><%= link_to 'Add a new store', new_store_path, :class => 'btn btn-mini' %></td>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
