<h1>All wishlists</h1>

<table>
  <thead>
    <tr>
      <th>Store name</th>
      <th>Want by</th>
      <th>Total cost</th>
      <th>Amount short</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wishlists.each do |wishlist| %>
      
        <tr>
          <td><%= wishlist.store.name %></td>
          <td><%= wishlist.want_by %></td>
          <td><%= wishlist.total_cost %></td>
          <td><%= '%.2f' % (wishlist.store.shipping_min - wishlist.total_cost) %></td>
          <td>Email <a href="mailto:<%= wishlist.user.email%>?Subject=Let's%20share%20an%20order!"><%= wishlist.user.first_name %></a>!</td>
          <td><%= link_to 'Show', wishlist %></td>
        </tr>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wishlist', new_wishlist_path %>
